.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.page__header{
}

.page__body{

}

.page__footer{
  background:blue;
}


.year-list{
  width:500px;

}

.year-list__head-table{ /*table*/
  width:100%;
  
}

.year-list__header{
}

.year-list__header-row{
}

.year-list__body-container{
  width:100%;

  display:block;
  overflow:scroll;

  height:800px; /*可変にしたいなあ */
}

.year-list__body-table{ /*table*/
  width:100%;
  
  border-collapse:collapse;
}




.year-list__content{
  

}


.year-list__candidate-row{
  color:#aaa;

  border-bottom:1px solid #ccc;
}

.year-list__candidate-row.m--highlight{
  color:#000;
  font-weight:bold;
  background:yellow;
  border-color:#000;
}

.year-list__cell{

}

.year-list__cell.m--seireki{
  width:33%;
}

.year-list__cell.m--gengo{
  width:33%;
}

.year-list__cell.m--eto{
  width:33%;
}
